.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}
body{
  overflow: hidden;
  background-color: #222;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  height: 420px;
}

#main{
  width: 100%;
  /*
  padding-left: 50px;
  */
}

#clickInfo,
.App-intro,
#main {
  text-align: center;
  background: white;
}

.App-header:last-child
{
  height: 245px;
  overflow: hidden;
}

#startHex
{
  position: absolute;
  font-size: 300px;
  color: black;
  z-index:32000;
  -webkit-text-stroke: 20px red;
  transition: all 1s ease-out;
  left: calc(50% - 131px);
}

div#startHex::after {
    position: absolute;
    content: 'K';
    font-size: 80px;
    -webkit-text-stroke: 0;
    color: white;
    top: 130px;
    margin-left: -160px;
}

#startHex:hover{
  transform: rotate(1turn);
  cursor: pointer;
}

#main{
  height: 50vh;
}

#setupPage{
  height: 100%;
  overflow-y: auto;
}

#player{
  margin-top: 3vh;
}

#armySelection{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.armySet{
  width: 150px;
  text-align: left;
  padding: 3px;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.armySet span:nth-child(1){
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.armySet:hover{
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

#hexBoard{
  margin-top: 10px;
}


.deck{
  color: white;
}

#startNameBtn{
    margin-top: 20px;
}

.readyBtn{
    margin-bottom: 10px;
}

.hex::after,
.hex span{
  width: 50px;
  position: absolute;
  font-size: 1.5vh;
  word-wrap: break-word;
  color: green;
  transform: rotate(90deg);
  margin-top: 5.5vh;
  margin-left: -8vh;
  -webkit-text-fill-color: black;
}

.hex:hover {
  -webkit-text-fill-color: #fcfb91;
}

.hex span:hover{
  -webkit-text-fill-color: white;
}

.errorText{
  color: red;
  font-size: 12px;
}

.github-picker {
  margin-left: auto;
  margin-right: auto;
}

.playerInSetup{
    border-radius: 10px;
}

.playerReadytrue{
    border: solid 2px #2ad02a;
    background: rgba(42, 208, 42, 0.1);
}

.playerReadyfalse{
    border: solid 2px #ff0055;
    background: rgba(255, 0, 85, 0.1);
}

.statusReady{
    font-size: 12px;
}

.statusReady.true{
    color: #2ad02a;
}

.statusReady.false{
    color: #ff0055;
}
